*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #5d5d5d, #2b2a2a);
}


.reg-cont{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    text-align: center;
}

.login-cont h2{
    margin: 20px 0;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.form-group{
    margin: 1rem 0;
    text-align: left;
}

label{
    color: #555;
    font-size: 1rem;
}

input{
    width: 100%;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    transition: .5s;
}
input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

button{
    color: white;
    background-color: #4a90e2;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
#clearHistory{
    display: none;
    background-color: #e24a4a;
}



.store-data{
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px;
    color: #555;
    text-align: left;
    font-size: 15px;
}


.store-data strong{
    color: #333;

}
























